nav > div .navbar-brand,
.dropdown .nav-link {
  display: block;
  width: 100px;
}
.dropdown > .nav-link {
  width: 50px;
}

nav > div .navbar-brand img,
.dropdown > .nav-link img {
  width: 100%;
  object-fit: cover;
}

nav ul {
  font-size: 0.85rem !important;
}

nav ul i {
  font-size: 1.2rem;
}

.genres {
  background-color: black;
  border-radius: unset;
  font-weight: 700;
  letter-spacing: 1px;
}

.no-radius {
  border-radius: unset !important;
}

.footer-color {
  color: rgb(148, 145, 145);
}
.footer-btn {
  border-color: rgb(148, 145, 145);
  color: rgb(148, 145, 145);
}

.footer-font {
  font-size: 0.75rem;
}
