.background {
  background-color: rgb(17, 17, 17);
}

nav > div .navbar-brand,
.dropdown .nav-link {
  display: block;
  width: 100px;
}
.dropdown > .nav-link {
  width: 50px;
}

nav > div .profile-logo {
  display: block;
  width: 120px;
}

.nav-gradient {
  background-image: linear-gradient(black, transparent);
}

nav > div .navbar-brand img,
.dropdown > .nav-link img {
  width: 100%;
  object-fit: cover;
}

nav ul {
  font-size: 0.85rem !important;
}

nav ul i {
  font-size: 1.2rem;
}

.genres {
  background-color: black;
  border-radius: unset;
  font-weight: 700;
  letter-spacing: 1px;
}

.no-radius {
  border-radius: unset !important;
}

.footer-color {
  color: rgb(148, 145, 145);
}
.footer-btn {
  border-color: rgb(148, 145, 145);
  color: rgb(148, 145, 145);
}

.footer-font {
  font-size: 0.75rem;
}

/* PROFILE PAGE ONLY */

.mega-text {
  color: rgb(238, 238, 238);
  font-size: 2.2rem;
  font-weight: 400;
}
@media screen and (min-width: 576px) {
  .mega-text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .mega-text {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1400px) {
  .mega-text {
    font-size: 5rem;
  }
}

.dropdown-toggle::after {
  margin-left: 2em;
  display: inline-block;

  vertical-align: 0.155em;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
}

.nav-item .dropdown-toggle::after {
  margin-left: 0.255em;
}

.maturity-btn {
  background-color: #333333;
  border-radius: 2px;
}

.letter-spacing {
  letter-spacing: 2px;
}

/* CHECKBOX */
label > input {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
}

label > input:checked + span {
  background-color: white;
}

label > span {
  position: relative;
  display: inline-block;
  height: 20px;
  top: 0;
  width: 20px;
  left: 0;
  border: 2px solid white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label > input:checked + .checkmark:after {
  display: block;
}

label > .checkmark:after {
  left: 4px;
  top: -2px;
  width: 6px;
  height: 12px;
  border: 1px solid #0c113b;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.edit-icon {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
  font-size: 1.2rem;
  transform: translateX(50%) translateY(-50%);
}
